@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.codex-editor__redactor {
    padding-bottom: 100px !important;
    min-height: calc(90vh) !important;
}

.article-edit-title h1 {
  @apply text-4xl font-bold leading-tight;
}

h1.ce-header {
  @apply text-4xl font-bold leading-tight;
}

h2.ce-header {
  @apply text-3xl font-semibold leading-snug;
}

h3.ce-header {
  @apply text-2xl font-medium leading-snug;
}

h4.ce-header {
  @apply text-xl font-medium leading-snug;
}

h5.ce-header {
  @apply text-lg font-medium leading-snug;
}

h6.ce-header {
  @apply text-base font-medium leading-snug;
}




